<!-- <h2>{{longTitle}}</h2> -->

<script src="https://unpkg.com/tiny-swiper@^1.0.0"></script>
<!-- https://github.com/joe223/tiny-swiper -->
<!-- Slider main container -->
<div class="swiper-container" id="swiper1">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="a swiper-slide"><img src="/img/pi2p_intro00_48dpi.png" alt='{{longTitle}}'></div>
		<div class="a swiper-slide"><img src="/img/pi2p_intro01_48dpi.png" alt='{{longTitle}}'></div>
		<div class="b swiper-slide"><img src="/img/pi2p_intro02_48dpi.png" alt='{{longTitle}}'></div>
		<div class="b swiper-slide"><img src="/img/pi2p_intro03_48dpi.png" alt='{{longTitle}}'></div>
		<div class="b swiper-slide"><img src="/img/pi2p_intro04_48dpi.png" alt='{{longTitle}}'></div>
		<div class="b swiper-slide"><img src="/img/pi2p_intro05_48dpi.png" alt='{{longTitle}}'></div>
		<div class="b swiper-slide"><img src="/img/pi2p_intro06_48dpi.png" alt='{{longTitle}}'></div>
	</div>
</div>
<script>
var mySwiper = new Swiper('#swiper1', {
	mousewheel: true
});
</script>
